---
# This file should be encrypted with SOPS after rendering
# The password is sourced from bootstrap-apps.yaml (which is not checked in)
env:
  DB_PASSWORD: #{ bootstrap_apps.healthtracking.database.password }#
