---
# This file should be encrypted with SOPS
# Add your database password here after creating this file
# Run: sops kubernetes/apps/home/healthtracking/values.sops.yaml
env:
  DB_PASSWORD: "ENC[AES256_GCM,data:your_secure_password_here,iv:...,tag:...,type:str]"
