ingress:
  enabled: true
  host: #{ bootstrap_apps.longhorn.ingress.host }#
  ingressClassName: "internal"

service:
  ui:
    type: ClusterIP

defaultSettings:
  defaultDataPath: /var/mnt/storage
preUpgradeChecker:
  jobEnabled: false