apiVersion: v1
kind: Endpoints
metadata:
  name: sprinkler-service
  namespace: home
subsets:
- addresses:
  - ip: #{ bootstrap_apps.sprinkler.host }#
  ports:
  - port: #{ bootstrap_apps.sprinkler.port }#
    name: http
    protocol: TCP
