apiVersion: v1
kind: Service
metadata:
  name: sprinkler-service
  namespace: home
spec:
  ports:
  - name: http
    port: #{ bootstrap_apps.sprinkler.port }#
    protocol: TCP
    targetPort: #{ bootstrap_apps.sprinkler.port }#
