---
apiVersion: v1
kind: ConfigMap
metadata:
  name: whisper-env-config
  namespace: milo
data:
  LOG_LEVEL: "#{ bootstrap_apps.milo.log_level }#"
  CORS_ORIGINS: "#{ bootstrap_apps.milo.cors_origins }#"
