---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generators:
  - ./secret-generator.yaml

resources:
  - namespace.yaml
  - configmap.yaml
  - pvcs.yaml
  - postgres-service.yaml
  - postgres-statefulset.yaml
  - whisper-service.yaml
  - whisper-deployment.yaml
  - service-account.yaml
  - hpa.yaml
  - network-policy.yaml
