---
apiVersion: v1
kind: Secret
metadata:
  name: whisper-db-secret
  namespace: milo
type: Opaque
stringData:
  postgres-user: #{ bootstrap_apps.milo.database.user }#
  postgres-password: #{ bootstrap_apps.milo.database.password }#
  postgres-db: #{ bootstrap_apps.milo.database.name }#
